// Font families
$font-family-base: 'Spartan', sans-serif !default;

// Font sizes
$font-size-root: 62.5% !default;
$font-size-base: 1.5rem !default;

// Font weights
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

// Line heights
$line-height-base: 1.6 !default;
$line-height-small: 1 !default;
